/*------------------------------------
  Opacity
------------------------------------*/

.opacity {
  // &-md {
  //   opacity: .3 !important;
  // }
  &-lg {
    opacity: .5 !important;
  }

  &-0 {
    opacity: 0 !important;
  }

  &--hover-default:hover {
    opacity: 1 !important;
  }
}