/*------------------------------------
  Text Colors
------------------------------------*/

.text-white-70 {
	color: $white-color-70;

	&[href]:hover {
		color: $white-color-hover;
	}
}

.text-gray-700 {
  color: $gray-700;
}

.text-secondary {
  &[href]:hover {
    color: $link-color !important;
  }
}